<html>
  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  {{template "header.go.html"}}

  <body>
    <div class="container-fluid">
      <center>
        <h1>🍩aaS</h1>
        <h4><em>Donuts as a Service</em></h4>
      </center>

     {{template "status.go.html" .}}

      <div class="row job">
        <div class="col-xs-4 col-md-4">
          <img
             class="img-thumbnail action-button donut-button"
             src="/public/donut-sprinkles.png"
             data-flavor="sprinkles">
        </div>
        <div class="col-xs-4 col-md-4">
          <img
             class="img-thumbnail action-button donut-button"
             src="/public/donut-cinn.jpg"
             data-flavor="cinnamon">
        </div>
        <div class="col-xs-4 col-md-4">
          <img
             class="img-thumbnail action-button donut-button"
             src="/public/donut-choc.jpg"
             data-flavor="chocolate">
        </div>
      </div>
      
      <div id="donut-log" class="lead"></div>

      <div class="row footer">
        <div class="col-xs-12">
          Order Donuts | <a href="/restock">Restock Donuts</a> | <a href="/clean">Clean Fryer</a>
        </div>
      </div>

    </div>
  </body>

  <script>

Tracer.initGlobalTracer(LightStep.tracer({
  access_token         : '32f6abfbe2ec8ef46eb55eab21c785f4',
  component_name       : 'donut-browser',
  collector_host       : 'collector-loadtest.lightstep.com',
  collector_port       : 443,
  collector_encryption : 'tls',
  xhr_instrumentation  : false,
}));

$(".donut-button").click(function(evt) {
  var span = Tracer.startSpan('get_donuts');
  var flavor = evt.target.dataset.flavor;
  span.setBaggageItem('origin', ':: get_donuts[' + flavor + ']');
  donutHeaders = {};
  console.log(evt);
  Tracer.inject(span, Tracer.FORMAT_TEXT_MAP, donutHeaders);
  var orderStatus = $($("#donut-log").prepend('<div class="fresh-donut"><em>Awaiting donut...</em></div>').children()[0]);
  var before = Date.now();
  $.ajax('/api/order', {
    data: JSON.stringify({
      flavor: flavor,
    }),
    headers: donutHeaders,
    method: 'POST',
    success: function() {
      var after = Date.now();
      span.finish();
      orderStatus.html('Received <b>' + flavor + '</b> 🍩 (after ' + (after-before) + 'ms)');
      fadeElement(orderStatus)
    },
    error: function() {
      var after = Date.now();
      span.finish();
      orderStatus.html('<span style="color:#aa3333">Out of <b>' + flavor + '</b> 🍩</span>');
      fadeElement(orderStatus)
    },
  });
});

function fadeElement(elem){
  setTimeout(function(){
    $(elem).fadeOut("slow", function(){
      $(elem).remove();
    });
  },7000);
}
  </script>

</html>
